<%= render "nav" %>

<h1 id="moods-header"> How am I feeling? </h1>

<% @moods.each do |mood| %>
<div>
  <li id="moods">
  <%= link_to mood['title'], mood_path(mood) %></li>
</div>

<% end %>

























