// Place all the styles related to the moods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#moods-header {
  text-align: center;
  margin: 100px;
}

#moods-title {
  text-align: center;
}

.moods-show {
  text-align: center;
}

#moods {
    display: block;
    text-align: center;
    width: 25vw;
    height: 25vw;
    float: left;
    position: relative;
    margin: 50px;
    background-image: url(https://i.ytimg.com/vi/yi1YlDpGocM/maxresdefault.jpg);
    background-size: cover;
    opacity: 0.7;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
}

#moods a {
  color: white;
  background: rgba(0,0,0,.5);
  border-radius: 15px;
  padding: 5px;
}

.hostile {
  display: block;
  background: #000;
  width: 20vw;
  height: 20vw;
}

.spotify-embed-many {
  width: 300px;
  height: 650px;
}

.comments-wrapper .comment {
  text-align: left;
}

