/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(24,24,24);
  color: whitesmoke;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -1;
 min-width: 100%;
 min-height: 100%;
 width: 100%;
 height: auto;
 transform: translate(-50%, -50%);
}

.form-styling input, textarea {
  color: black;
}

footer {
  background: rgba(0,0,0,0.3);
  height: 75px;
  padding: 15px;
  text-align: center;
  margin-top: 50px;
}

footer a {
  margin-left: 15px;
  vertical-align: middle;
  color: whitesmoke;
}

.modal-content {
  background: rgb(24,24,24);
  color: whitesmoke;
}

.modal-content a {
  color: rgb(30,215,96);
}

#spotify_button{
  text-align: center;
  font-size: 45px;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

#spotify_button a {
  color: rgb(30,215,96);
  text-decoration: none;
}

#spotify_button a:hover {
  color: whitesmoke;
  text-decoration: none;
}

/* Responsive Spotify Player */
/* Borrowed from https://codepen.io/justinjohnso/pen/pNYLYx */
*, *:before, *:after {
  box-sizing: border-box;
}

.spotify-embed-wrapper {
  width: 100%;
  padding: 3%;
}
/*
.spotify-list-wrapper {
  width: 100%;
  padding: 3%;
} */

.spotify-embed {
  height: 80px;
  background: #282828;

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }

  iframe {
    display: block;
    transition: opacity 0.125s;
    .js & {
      opacity: 0;

      &.loaded {
        opacity: 1;
      }
    }
  }
}

/* .spotify-embed-list {
  height: 500px;
  background: #282828;

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }

  iframe {
    display: block;
    transition: opacity 0.125s;
    .js & {
      opacity: 0;

      &.loaded {
        opacity: 1;
      }
    }
  }
}
 */
