<footer>
  <a href="" title="" data-toggle="modal" data-target="#aboutModal">About</a>

  <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">About:</h3>
        </div>
        <div class="modal-body">
          <p>This app is all about community.</p>
          <p>We believe that music is strongly connected with whatever mood you're in. That's why we thought it'd be a good idea to build a community around sharing songs specific to certain moods/feelings. Here we've created a space where members can share their tastes / be influenced by others.</p>
          <p>We hope you enjoy contributing to our community and the new tunes you come across!</p>
        </div>
      </div>
    </div>
  </div>

  <a href="" title="" data-toggle="modal" data-target="#contactModal">Contact</a>

  <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">The Team:</h3>
        </div>
        <div class="modal-body">
          <h4>Take a gander at our GitHubs</h4>
          <p><a href="https://github.com/justinjohnso">Justin Johnson</a></p>
          <p><a href="https://github.com/gbasgaard">Glenn Basgaard</a></p>
          <p><a href="https://github.com/MBSilvaR">Marcela Silva</a></p>
          <p><a href="https://github.com/danielnormandia">Daniel Normandia</a></p>
          <p><a href="https://github.com/redfolgersGA">Emmanuel Paulino</a></p>
        </div>
      </div>
    </div>
  </div>
  <p>&copy; 2016 Boolean</p>
</footer>
